$green: #0C4B35;
$white: #FFFFFF;
$green_inport: #00730C; 
$menu_link: #212529;
$gray: #C4C4C4;
$black: #212529;
$grayLigt: #676767;

body{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.pageGreen{
    background-color: $green;
    height: 59px;
    
}
    
   


.wrapper{
    max-width: 1192px;
    margin:  auto;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 59px;

 
}

.shapka{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}
    

    .item{
        margin-left: 65px;
        
    }
    .link_item{
        color: $white;
        text-decoration: none;
        margin-right: 65px;
        font-family: Nunito;
        font-style: 700;
        font-size: 16px;
        
        .svg{
            display: flex;
            align-items: center;
            margin: 2px;
            &:hover{
                color: $green_inport;
            }
            
            img{
                padding: 5px;
                &:hover{
                    color: $green_inport;
                }
            }
        }
    }
  




.page_2{
    background-color: $white;
    height: 85px;
    
    .wrapper{
        max-width: 1192px;
        margin:  auto;
    }

    .menu_burger{
        display: flex;
        justify-content: flex-end;
        img{
            display: none;
        }

    }

    
    .logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        
    }
    .btn{
        // width: 170px;
        // height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #00730C; ;
        
        &:hover{
            background-color: #2ba437;
        }
        button{ 
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green_inport;
            // width: 170px;
            // height: 50px;
            font-weight: bold;
            font-size: 18px;
            color: $white;
            border: none;
            &:hover{
                background-color: #2ba437;
            }
        }

        
      
        
      
    }
  

    .nav{
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding-left: 0;
        .link_item{
            text-decoration: none;
           }
        .item{
            margin-left: 61px;
        }
         a{
                color: $menu_link;
            }

    }
    
  
    
}

.page_3{
    background-color: $gray;
    height: 640px;
    .granici{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 147px 400px 10px 400px;
            font-size: 78px;
            font-weight: 700;
            color: $white;
         }
         p{
            width: 1136px;
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            color: $white;
         }
         .menu_2{
            display: flex;
            font-weight: 700;
            font-size: 24px;
            list-style-type: none;
            color: $white;
            a{
                color: $white;
                text-decoration: none;
                &:hover{
                    color: $green_inport;
                    text-decoration: none;
                    
                }
             }
            
            .otstyp{
                padding: 5px;
               
            }
            
         }
    }

}

.page_4{
    background-color: $white;

    h1{
        text-align: center;
        margin: 100px  50px;
        font-family: Nunito;
        font-weight: 800;
        font-size: 45px;
        color: $black;
   }
   .gorizont{
    display: flex;
    .img{
        display: flex;
        .imaige{
            max-width: 100%;
            width: 695px;
            height: 997px;
            display: block;
            margin: auto;
        }
        .squareGreen{
            
            background-color: #00730C;
            width: 450px;
            height: 706px;
            display: flex;
            overflow-x:hidden;
            

        }

        .square1{
           
            position: relative;
            background-color: #C4C4C4;
            width: 601px;
            height: 741px;
            display: flex;
           
            top: -658px;
            left: 24px;
            overflow-x:hidden;

        }

        .square2{
            border: 20px solid #FFFFFF;
            border-radius: 10px;
            position: relative;
            background-color: #C4C4C4;
            
            width: 456px;
            height: 356px;
            display: flex;
            top: -862px;
            left: 189px;
            overflow-x:hidden;
           
        }
            

    }
   }
   .content{
    h1{
        margin-left: -22px;
        font-weight: 700;
        font-size: 30px;
        color: $green_inport;
        span{
            color: $black;

        }
    }

    .textLorem{
        width: 100%;
        height: 280px;

    }
    
    p{
        color: $grayLigt;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
    }

    .aboutUs{
        display: flex;
        justify-content: space-between;
        .Missionv{
          width: 200px;
          height: 100px;
          display: flex;
          align-items: center;
          padding: 40px;
          overflow-x:hidden;
          .LINKus{
            color: $black;
            padding: 7px;
            text-decoration: none;
            font-family: Nunito;
            font-size: 24px;
            font-style: Bold;
            
          
        }
    }
    
}

}


}

.page_5{
    background-color: $white;
    height: 996px;
    padding: 80px;
    .coteinerF{
        display: flex;
        .contDiv{
            max-width: 720px;
            margin: auto;
            h1{
                padding-top: 129px;
            }
        }
    }
    .graffik{
        display: flex;
        align-items: center;
        p{
            font-family: 'Nunito', sans-serif;;
            font-size: 16px;
            font-weight: 700;
        }
        span{
            background-color: #accfaf;
            border-radius: 25px;
            width: 50px;
            height: 50px;
            margin: 11px;
          
            p{
                text-align: center;
                font-family: 'Nunito', sans-serif;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    .text1{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }
    .nomer85{
        width: 100%;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.18);
        border-radius: 15px;
        .gren_skala{
            width: 85%;
            height: 16px;
            background-color: $green_inport;
            border-radius: 16px;
            margin: 2px;
        }
    }

    .text2{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }
    .nomer75{
        width: 100%;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.18);
        border-radius: 15px;
        .gren_skala{
            width: 65%;
            height: 16px;
            background-color: $green_inport;
            border-radius: 16px;
            margin: 2px;
        }
    }

    .text3{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }
    .nomer80{
        width: 100%;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.18);
        border-radius: 15px;
        .gren_skala{
            width: 80%;
            height: 16px;
            background-color: $green_inport;
            border-radius: 16px;
            margin: 2px;
        }
    }

    .text4{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }
    .nomer90{
        width: 100%;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.18);
        border-radius: 15px;
        .gren_skala{
            width: 90%;
            height: 16px;
            background-color: $green_inport;
            border-radius: 16px;
            margin: 2px;
        }
    }
    



    .imgG{
        max-width:100% ;
        height: 767px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        .imgGren{
            
            width: 450px;
            height: 706px;
            background-color: #00730C;
            position: relative;
            top: 0px;
            left: 214px;

        }
        .imgGrey{
            width: 501px;
            height: 741px;
            background-color: #C4C4C4;
            position: relative;
            top: -680px;
            right: -139px;
        }
    }

    h2{
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
        font-weight: 800;
    }

    .TrainedStaff{
        color: $green_inport;
    }

    .fl{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Discover{
        width: 190px;
        height: 50px;
        background-color: $green_inport;
        color: $white;
        border: none;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 700;
        &:hover{
            background-color: $green;
        }
    }

}



.page_6{
    .windiws{
        display: flex;
        .win1{
            display: flex;
            justify-content: center;
            width: 330px;
            height: 408px;
            background-color:#00730C ;
            margin: 9px;
            .DorisJordan{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    margin-top: 3px;
                    color: #FFFFFF;
                }
                .expert{
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    color: #FFFFFF;

                }
            }
            .social{
                display: flex;
                .icon{
                    display: flex;
                    align-items: center;
                    padding-left: 0px;
                    
                    li{
                        margin: 18px;
                        list-style-type: none;
                        padding-left: 0;
                    }
                }
            }

            
        }

        .win2{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            width: 330px;
            height: 408px;
            background-color: #C4C4C4;
            margin: 9px;
            .DorisJordan{
                width: 284px;
                height: 90px;
                background-color:#00730C;
                text-align: center;
                
                // display: flex;
                // flex-direction: column;
                // justify-content: flex-start;
                // align-items: center;
                p{
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    margin-top: 3px;
                    color: #FFFFFF;
                }
                .expert{
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    color: #FFFFFF;

                }

                
            }
        }
        
    }

}

.page7{
    display: flex;
    margin-top: 100px;
    margin-left: 0px;
    .wrapper{
        display: flex;
        div{
            width: 202px;
            height: 100px;
            background-color: #C4C4C4;
            margin-left: 20px;
        }

    }

        
    
    
}

.page8{
    .ForYour{
        height: 125px;
        background-color: #D9F1E0;
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: 60px;
        p{
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            font-size: 45px;
            span{
                color: #00730C;
            }
        }

        .GetAQuate{
            width: 175px;
            height: 50px;
            background-color: #00730C;
            border: none;
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: #D9F1E0;
            &:hover{
                background-color: $green;
            }
        }
    }
}

.page9{
    height: 667px;
    background-color: #0C4B35;
    .foter{
        display: flex;
        justify-content: space-between;
        padding-top: 115px;
        .Subscribe{
            h3{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }

            .big{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }
            p{
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }
            .email{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .test{
                margin-top: -6px;
                border-top:2px solid #FFFFFF;
                height: 10%;
            }

            .seti2{
                display: flex;
                list-style-type: none;
                padding-left: 0;
                li{
                    padding-left: 45px;
                }

            }

            
        }


        .Contacts{
            h3{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }
            p{
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }


          
        }

        .UsefulLinks{
            h3{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }
          
            
            .link2{
                display: flex;
                align-items: center;
                list-style-type: none;
                .link3{
                    list-style-type: none;
                    padding-left: 0;
                    li{
                        margin: 17px;
                       
                    }
                    a{
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                }
            }
           
        }

        .PopularSevices{
            h3{
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }
            p{
                padding: 5px;
                a{
                    text-decoration: none;
                    color: #FFFFFF;

                }
            }

        }

        
        
    }

    .linia3{
        margin-top: 50px;
        border-top:2px solid #FFFFFF;
        
    }
    .last{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        .abaut{
            display: flex;
            list-style-type: none;
            padding: 30px;
            li{
                margin: 30px;
            }

            a{
                text-decoration: none;
                color: #FFFFFF;

            }
        }
    }

   
}

@media screen and (max-width: 1200px) {
    .pageGreen{
        width: 100%;
        margin: auto;
        .wrapper{
            width: 100%;
            margin: auto;
        } 

        .page_2 .wrapper{
            width: 100%;
            margin: auto;
        }

        .page_2 .logo{
            width: 100%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .pageGreen{
        width: 100%;
        margin: auto;
        .wrapper{
            width: 100%;
            margin: auto;
            .shapka{
                margin-left: -52px;
            }

        }
    }
    .page_2 .wrapper{
        width: 100%;
        margin: auto;
    }
    .page_2 .logo{
        width: 100%;
        margin: auto ;
        nav{
            font-size: 16px;
            margin-left: -45px;
        }
    }

    .page_2 .nav{
        width: 100%;
        margin: auto;
    }

    .page_4{
        width: 100%;
        margin: auto;
        .wrapper{
            width: 100%;
            margin: auto;
        }
    }

    .page_4 .gorizont{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .page_5{
        width: 100%;
        margin: auto;
        .wrapper{
            width: 100%;
            margin: auto;
        }
    }
    .page_5 .coteinerF{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .page_5 .imgG{
        display: none;
    }
    
    .page_6 .windiws{
        flex-direction: column;
        align-items: center;


    }

    .page7 .wrapper {
        display: none;
    }



}

@media screen and (max-width: 768px) {
    .pageGreen .wrapper .shapka{
        width: 100%;
        margin: auto;
        justify-content: flex-start;
        p{
            display: none;
        }
        
    }
    .page_2{
        width: 100%;
        margin: auto;
        .nav .item{
            margin-left: 17px;
        }

        .logo nav{
            margin-left: 17px;
        }
        .btn{
            p{
                display: none;
            }
        }
        
    }
    .page_3 .granici h1{
        margin: 147px 100px 10px 100px;
    
    }
    .page_3 .granici p{
        width: 100%;
    }

    .page_4 .content h1{
        margin-left: 14px;
    }
    .page_4 .content .textLorem{
        text-align: justify;
    }
    .Next{
        h2{
            text-align: center;
        }
        p{
            text-align: justify;
        }
        
    }

    .page_5 .coteinerF .contDi{
        width: 100%;
    }

    .page_5 .graffik {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .conteiner2{
        width: 80%;
    }
    .OurTrainedStaff{
        display: none;
    }

}


@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .pageGreen{
        width: 100%;
        margin: auto;
        .wrapper{
            width: 100%;
            margin: auto;
        }
        .header {
            width: 100%;
            margin: auto;
        }
        .shapka {
            width: 100%;
            margin: auto;
            .item{
                margin: 0; 
            }
            p {
                display: none;
            }

            
        }

    }
    

    .page_2{
        width: 100%;
        margin: auto;
        .logo {
            display: flex;
            justify-content: space-around;
        }
        .btn{
            margin-left: 177px;
            border: 6px solid $green_inport;
            border-radius: 10px;
            p{
                display: none;
            }
        }
        .nav{
            display: none;
        }
        .menu_burger img{
            display: block;
            
        }
        
    }
   

    .page_3{
        width: 100%;
        margin: auto;
        .granici h1{
            margin: 147px 60px 10px 60px;

        }
        .granici p{
            width: 100%;
        }
    }
    .page_4{
        width: 100%;
        margin: auto;
        .gorizont .img .imaige{
            width: 90%;
            .squareGreen{
                width: 90%;
            }
            .square1{
                width: 90%;
            }
            .square2{
                width: 50%;
                height: 241p
            }
        }
        .content .textLorem{
            text-align: justify;
            
        }
        .aboutUs{
            flex-direction: column;
            align-items: center;
        }
        .Next{
            text-align: justify;
        }
    }
    .page_5{
        width: 75%;
        margin: auto;
        .OurTrainedStaff{
            display: none;
        }
    }
    .page_6{
        width: 100%;
        margin: auto;
        .windiws .win2 .DorisJordan{
            width: 100%;
        }
    }
    .page7 .wrapper {
        display: none;
    }
    .page8{
        width: 100%;
        margin: auto;
        .ForYour{
            height: 260px;
            flex-direction: column;
        }
        .ForYour p{
            text-align: center;
        }
    }
    .page9{
        width: 100%;
        margin: auto;
        height: auto;
        .foter{
            text-align: center;
            display: flex;
            flex-direction: column;
            .Subscribe .email{
                justify-content: space-around;
            }
            .UsefulLinks .link2{
                justify-content: space-evenly;
            }
          
            
        }
        .last{
            flex-direction: column;
            .abaut{
                padding: 6px;
            }
        }
    }
  

}

@media screen and (max-width: 320px) {

}


